$body-bg: #F8F8FB;

$fa-font-path: 'fonts';
$site-max-width: 1200px;

$font-family-base: Georgia, "Times New Roman", Times, serif;
$font-size-base: 16px;

$brand-primary: #29abe2;

$link-color: #d45cdb;
